
db.sqlite3

_pycache_/
*.pyc
*.pyo

.env

.vscode/

venv/
env/

# Created by venv; see https://docs.python.org/3/library/venv.html
iles_env/
__pycache__/
*.py[cod]
db.sqlite3
.env
node_modules
.vite/

